/* BASIC MIXINS FOR PROJECT */

@mixin maxw($max-width) {
  @media (max-width: $max-width) { @content; }
}

@mixin minw($min-width) {
  @media (min-width: $min-width) { @content; }
}

@mixin maxh($max-height) {
  @media (max-height: $max-height) { @content; }
}

@mixin minh($min-height) {
  @media (min-height: $min-height) { @content; }
}

// Clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Hide text without remove it
@mixin hideText() {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

// Set text in one line
@mixin oneLineText() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Center an element (need position: relative to the container)
@mixin centerElement($xy) {
  position: absolute;
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}