/* BASIC VARIABLES FOR PROJECT */

// ----------------------------
/* Colors */

$color_black: #000000;
$color_white: #ffffff;
$color_primary: #293b5a;

// Font colors
$color_font: $color_black;
$color_font_title: $color_black;
$color_font_link: $color_black;

// Modules colors
$color_body_bg: $color_primary;
$color_header_bg: $color_primary;
$color_footer_bg: $color_primary;

// ----------------------------
/* Fonts */

$font_base: sans-serif;
$font_default: Underground;
$font_title: $font_default;

// ----------------------------
/* Size */

// Font size
$size_font: 16px;

// Brakpoint size
$breakpoint_xs: 480px;
$breakpoint_sm: 736px;
$breakpoint_md: 980px;
$breakpoint_lg: 1280px;
$breakpoint_xl: 1690px;
