// Test code.

.container {
  height: 100vh;
  position: relative;
  width: 100%;
}

.test {
  background-color: $color_white;
  width: 500px;
  @include centerElement(xy);

  h1 {
    margin: auto;
    text-align: center;
    color: $color_primary;
    letter-spacing: $size_letter_spacing * 1.2;
  }

}
