/* BASIC GRID FOR PROJECT */

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: $breakpoint_mobile) {
  .container {
    width: $breakpoint_mobile - 15px;
  }
}
@media (min-width: $breakpoint_tablet_sm) {
  .container {
    width: $breakpoint_tablet_sm - 15px;
  }
}
@media (min-width: $breakpoint_tablet_md) {
  .container {
    width: $breakpoint_tablet_md - 15px;
  }
}
@media (min-width: $breakpoint_tablet_lg) {
  .container {
    width: $breakpoint_tablet_lg - 15px;
  }
}
@media (min-width: $breakpoint_desktop) {
  .container {
    width: $breakpoint_desktop - 15px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
