/* BASIC MIXINS FOR PROJECT */

/*

DOCUMENTAZIONE

1. opacity($opacity_value)
Imposta l'opacità di un elemento rispetto al valore ricevuto come parametro.
L'opacità risulta compatibile fino a IE 8.

2. hideText()
Rende invisibile il testo contenuto dall'elemento senza però nasconderlo ai motori di ricerca.

3. oneLineText()
Imposta il testo in una sola riga; nel caso in cui esso esca dal contenitore, viene eliminata la parte
in più e sostituita con tre puntini di continuazione.

4. listToOneLine()
Imposta gli elementi di una lista (al quale viene appliccato) in una singola linea.

5. centerElement($xy)
Imposta un elemento al centro rispetto al contenitore. Il parametro indica come centrare l'elemento:
- x: centra l'elemento orizzontalmente
- y: centra l'elemento verticalmente
- xy: centra l'elemento orizzontalmente e verticalmente

*/

// Media query
@mixin maxw($max-width) {
  @media (max-width: $max-width) { @content; }
}
@mixin minw($min-width) {
  @media (min-width: $min-width) { @content; }
}

// Opacity for IE 8
@mixin opacity($opacity_value) {
  opacity: $opacity_value;
  $opacity-ie: $opacity_value * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// Hide text without remove it
@mixin hideText() {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

// Set text in one line
@mixin oneLineText() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// Set a list to a single line menu
@mixin listToOneLine() {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
  }
}

// Center an element (need position: relative to the container)
@mixin centerElement($xy) {
  position: absolute;

  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}
