/* BASIC VARIABLES FOR PROJECT */

// ----------------------------
/* Colors */

// Default colors
$color_black: #000000;
$color_white: #ffffff;
$color_primary: #913131;
$color_secondary: #E5AB39;
// $color_third: ...

// Font colors
$color_font: $color_black;
$color_font_title: $color_black;

// Modules colors

$color_body_bg: $color_primary;
$color_header_bg: $color_primary;
$color_footer_bg: $color_primary;

// ----------------------------
/* Fonts */

$font_base: sans-serif;
$font_default: Underground;

$font_title: $font_default;

// ----------------------------
/* Size */

// Font size
$size_font: 16px;
$size_line_height: 1.5;
$size_letter_spacing: 0.1;

// Container size
$size_container_padding: 15px;
$size_container_margin: 15px;

// Brakpoint size
$size_breakpoint_mobile: 580px;
$size_breakpoint_tablet_sm: 768px;
$size_breakpoint_tablet_md: 992px;
$size_breakpoint_tablet_lg: 1024px;
$size_breakpoint_desktop: 1170px;

// ----------------------------
/* Others variable */

// Z-index default value
$z-index_header: 100;
$z-index_footer: 90;
$z-index_main: 10;
