.c-footer {
  font-size: 12px;
  line-height: 1.5em;
  width: 100%;
  padding: 30px 15px;
  color: $color_white;
}

.c-footer__legals {
  text-align: center;
  margin-top: 15px;
}

.c-footer__social {
  text-align: center;

  a {
    text-decoration: underline;
    color: $color_white;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}

.c-footer__end {
  text-align: center;
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid 1px $color_white;
}

@media screen and (min-width: $breakpoint_md) {
  .c-footer__legals {
    text-align: right;
    margin-top: 0;
  }

  .c-footer__social {
    text-align: left;
  }

  .c-footer__end {
    padding-top: 30px;
  }
}