.c-footer {
  width: 100%;
  padding: 30px 15px;
  color: $color_white;
}

.c-footer__legals {
  font-size: 12px;
  line-height: 1.5em;
}

.c-footer__social {
  margin-top: 15px;
  text-align: right;

  a {
    text-decoration: none;
    color: $color_white;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}