.c-section {}

.c-section__content {
  position: relative;
  width: 100%;

  &--primary {
    background-color: $color_primary;
  }

  &--secondary {
    background-color: $color_secondary;
  }
}

.c-section__content-half {
  position: relative;
  width: 100%;
  height: auto;
}

.c-section__content-half--image {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: $breakpoint_md) {
  .c-section__content {
    height: 100vh;
    min-height: 700px;
  }

  .c-section__content-half {
    height: 50%;
  }
}